#authDiv {
    display: flex;
    margin-top: 50%;
    margin-bottom: 50%;
    flex-direction: column;
    padding: 10%;
    box-sizing: border-box;
    justify-content: space-between;
}

#authDiv>* {
    margin-bottom: 10px;
}