.userDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 12px;
}

.otherUsersDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 12px;
}

.notLoggedInUserDiv {
    font-size: 26px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.utilsDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    background-color: #ffffff05;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.utilsDiv>* {
    margin-bottom: 10px;
}

.utilsDiv>*:last-child {
    margin-bottom: 0px;
    background-color: #ffffff05;
}


/* .wishesDiv {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    background-color: white;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.wishesDiv > * {
    margin-bottom: 10px;
}

.wishesDiv > *:last-child {
    margin-bottom: 0px;
    background-color: white;
} */

.singleWish {
    border-bottom: 1px solid #e9e9e9;
    margin: 15px
}

.userNameDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    zoom: 1;
    background: #545356f2;
    background-image: -webkit-linear-gradient(bottom, #6f6a6a 2%, #8080806b 50%, #cfced4 100%);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-radius: 7px;
    background-clip: padding-box;
    padding: 12px;
    height: auto;
    line-height: 40px;
    text-align: center;
    border: 1px solid #1a1b1dc9;
    margin-top: 5px;
    box-shadow: 4px 7px 20px 3px rgb(81 79 82);
    text-shadow: 3px 2px 4px #29251e;
    margin-bottom: 15px;
}

button.userNameDiv:after {
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
}

button.userNameDiv:hover,
button.userNameDiv.is-open {
    background-color: #137f8a85;
}

.emojiButton {
    font-size: 24px;
}

.buttonsDiv {
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.wishTitle {
    font-size: 20px;
    padding: 12px 0;
    font-size: 14px;
    margin-left: 35px;
}

.wishBody {
    font-size: 14px;
    margin-left: 35px;
}

.wishUrl {
    font-size: 14px;
    margin-left: 35px;
    color: #b138d0
}

.exitButton {
    width: 60px;
}